Icon*

# Environnements virtuels Python
.venv/
*venv*/

# Fichiers et dossiers d'environnement 
.env/
.env

# Fichiers d'environnement locaux fréquents
.DS_Store

# Caches Python
__pycache__/
*.py[cod]

# Checkpoints Jupyter
.ipynb_checkpoints/

# Chroma 
chroma_db/
chroma_minecraft_db_v2/
chroma_minecraft_db/
chroma_minecraft_multivec/

# Exports générés par le notebook
wikipedia.csv

# Configuration VS Code 
.vscode/

#files créées
files/
local_chunks_store/